body {
  background-color: yellow;
}
.crossed {
  
  text-decoration: line-through 4px green;
  background-color: yellowgreen;
  width: 250px;
}
.app {
  width: 800px;
  margin: 10px auto;
  padding-left: 250px;
}
.container {
  display: flex;
  justify-content:center;
}
.box {
  display: flex;
  flex-direction: column;
}
input {
  width: 300px;
  border: dotted 2px green;
  font-family: 'Caveat', cursive;
  font-size: 32px;
}
h1 {
  color: green;
  font-family: 'Caveat', cursive;
}
ul, li {
  list-style: none;
  padding-left: 200px;
  padding-top: 10px;
  margin: 0;
  font-family: 'Caveat', cursive;
  font-size: 32px;
}
button {
  font-family: 'Caveat', cursive;
  font-size: 32px;
}
.btn {
  display: flex;
  justify-content: center;
}
.add {
  background-color: rgb(209, 241, 199);
  margin-top: 5px;
  border: dotted 2px green;
}
.delete {
  background-color: rgb(209, 241, 199);
  margin-bottom: 5px;
  margin-top: 5px;
  border: dotted 2px green;
}